#theme-wrapper.desktop {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 50px;
  overflow: hidden;
  margin: 0 25px;
}
#theme-icon {
  width: 40px;
  height: 40px;
  transform: scale(2);
}
#theme-icon:hover {
  cursor: pointer;
  transform: scale(1.9);
  opacity: 0.7;
}

#theme-wrapper span {
  position: fixed;
  height: 75px;
  line-height: 75px;
  top: 0;
  left: calc(100vw - 100px);
  text-align: left;
  overflow: hidden;
  width: 0;
  padding-right: 0;
  transition: 1s;
  font-size: 0.7em;
}

header.desktop #theme-wrapper:hover span {
  width: 100px;
  padding-right: 10px;
  transition: 1s;
  color: white;
}
