/* Desktop */
@media only screen and (min-width: 769px) {
  main.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  main.portfolio .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 275px;
    grid-auto-rows: 275px;
    column-gap: 25px;
    row-gap: 25px;
    justify-items: center;
    width: calc(100% - 50px);
    height: auto;
    margin: 50px 25px;
  }
  main.portfolio .grid a {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 25px;
  }
  body.dark main.portfolio .grid a {
    -webkit-box-shadow: 10px 10px 5px -5px rgba(68, 68, 68, 0.5);
    -moz-box-shadow: 10px 10px 5px -5px rgba(68, 68, 68, 0.5);
    box-shadow: 10px 10px 5px -5px rgba(68, 68, 68, 0.5);
  }
  body.light main.portfolio .grid a {
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
  }

  main.portfolio .grid a img {
    width: 100%;
    aspect-ratio: 2 / 1.1;
    object-fit: cover;
    object-position: top;
  }
  main.portfolio .grid a label {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  main.portfolio .grid a span {
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: #ffd642;
    color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  main.portfolio .grid a:hover > span {
    height: 30px;
    line-height: 30px;
    transition: 0.3s;
  }
}

/* Mobile */
@media only screen and (max-width: 769px) {
  main.portfolio {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
  }
  main.portfolio .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 310px;
    grid-auto-rows: 310px;
    row-gap: 30px;
    justify-items: center;
    width: calc(100% - 30px);
    height: auto;
    margin: 15px;
  }
  main.portfolio .grid a {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    border-radius: 10px;
    overflow: hidden;
    padding-bottom: 25px;
  }
  body.dark main.portfolio .grid a {
    -webkit-box-shadow: 10px 10px 5px -5px rgba(68, 68, 68, 0.5);
    -moz-box-shadow: 10px 10px 5px -5px rgba(68, 68, 68, 0.5);
    box-shadow: 10px 10px 5px -5px rgba(68, 68, 68, 0.5);
  }
  body.light main.portfolio .grid a {
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
    box-shadow: 10px 10px 5px -5px rgba(0, 0, 0, 0.5);
  }

  main.portfolio .grid a img {
    width: 100%;
    aspect-ratio: 2 / 1.1;
    object-fit: cover;
    object-position: top;
  }
  main.portfolio .grid a label {
    width: 100%;
    text-align: center;
    margin-top: 25px;
  }
  main.portfolio .grid a span {
    position: absolute;
    bottom: 0;
    height: 0px;
    background-color: #ffd642;
    color: black;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }
  main.portfolio .grid a:hover > span {
    height: 30px;
    line-height: 30px;
    transition: 0.3s;
  }
}
